<nav class="nav-bar">
    <ul class="nav-bar-ul">
      <li> <a class="nav-bar-item" href="#about"> About </a> </li>
      <li> <a class="nav-bar-item" href="#works"> Works </a> </li>
      <li> <a class="nav-bar-item" href="#photogallery"> Photogallery </a> </li>
    </ul>
  </nav>