
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Frida Kahlo</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/photogallery.css">
    <link rel="stylesheet" href="/stylesheets/works.css">
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <%- body %>

  </body>
  </html>